html {
  background-color: #006BA6;
  font-family: helvetica;
  color: #FFBC42;
}

h2 {
  font-size: 64px;
  margin:0px;
}

h3 {
  font-size: 32px;
  margin: 0px;
}

p {
  font-size: 16px;
  color: #F9F9F9;
}


/*-----*/

.scoreboard {
  display: flex;
  flex-direction: row;
}

.player {
  display: flex;
  margin: 25px;
  flex-direction: row;
  align-items: center;
}

#graham {
  display: flex;
  margin: 25px;
  flex-direction: row-reverse;
  align-items: center;  
  text-align: right;
}

.playerCard {

}

.playerRecord {
  margin-top: 0px;
}

.avatarIMG{
  width:100px;
  height:100px;
  margin: 0px 20px;
  object-fit:cover;
  border-radius:50%;
}
