html {
  background-color: #006BA6;
  font-family: helvetica;
  color: #FFBC42;
}

h2 {
  font-size: 64px;
  margin:0px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 16px;
  color: #F9F9F9;
}


/*-----*/

.scoreboard {
  display: flex;
  flex-direction: row;
}

.player {
  margin: 25px;
  flex-direction: row;
}

.playerCard {
  flex direction:
}
